name: ezmall
services:
  ezmall:
    image: fengmk2/ezmall:latest
    container_name: ezmall
    depends_on:
      redis:
        condition: service_healthy
    ports:
      # web面板（xtransit-console）
      - '8443:8443'
      # xtransit-manager
      - '8543:8543'
      # xtransit-server 为xtransit提供的长连接
      - '9190:9190'
    volumes:
      - $PWD/config:/root/.ezmall/config
    environment:
      - REDIS_SERVER_HOST=redis
      - DB_SERVER_HOST=192.168.88.221
      - DB_PASSWORD=1234567890
    restart: on-failure:20

  redis:
    image: redis
    healthcheck:
      test: ['CMD', 'redis-cli', '--raw', 'incr', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5
    restart: on-failure:20