.husky
node_modules/
.git/
.idea/
alter-table
.gitignore
.jscsrc
tmp/
logs/
docker-build.sh
*.Dockerfile
public/files/*
public/uploads/*
.editorconfig
.lintstagedrc.js
*.DockerFile
eslint.config.js
mise.toml
prettier.config.js
README.md
