.create-card {
  position: relative;
  border-radius: 5px;
  cursor: pointer;

  .add {
    cursor: inherit;
    width: 100px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #999999;

    .icon {
      font-size: 65px;
      margin-bottom: 20px;
      cursor: inherit;
    }

    p {
      font-size: 12px;
    }
  }
}