services:
  aiclient2api:
    image: justlikemaki/aiclient-2-api:latest
    container_name: aiclient2api
    restart: on-failure:10
    ports:
      # web面板
      - "3100:3000"
      # OAuth - gemini回调
      - "3101:8085"
      # OAuth - google Antigravity回调
      - "3102:8086"
      # OAuth - Kiro回调
      - "3103-3107:19876-19880"
    volumes:
      - ./configs:/app/configs
    environment:
      - ARGS=
    healthcheck:
      test: ["CMD", "node", "healthcheck.js"]
      interval: 30s
      timeout: 3s
      start_period: 5s
      retries: 3